<h1>Welcome to Dance Share NYC!</h1>

<% unless logged_in? %>
  <%= link_to "Join Dance Share", new_user_path %>
<% end %>

<h2>Recent Performances:</h2>
<ul>
<% @recent_performances.each do |performance| %>
    <li><a href="<%= company_performance_path(performance.company, performance) %>"><%= performance.title %></a></li>
    <ul>
      <li><%= performance.venue.name %></li>
      <li><%= performance.pretty_date %></li>
    </ul>
    <% if logged_in? %>
      <p><strong><%= link_to "Review this Performance", new_performance_review_path(performance) %></strong></p>
    <% end %>
<% end %>
</ul>


<h2>Upcoming Performances:</h2>
<ul>
<% @upcoming_performances.each do |performance| %>
    <li><a href="<%= company_performance_path(performance.company, performance) %>"><%= performance.title %></a></li>
    <ul>
      <li><%= performance.venue.name %></li>
      <li><%= performance.pretty_date %></li>
    </ul>
<% end %>
</ul>