<h1>Welcome to Dance Share NYC!</h1>

<%= link_to "Join Dance Share", new_user_path %>

<h2>Recent Performances:</h2>
<ul>
<% @recent_performances.each do |performance| %>
    <li><a href="<%= user_performance_path(performance.user, performance) %>"><%= performance.title %></a></li>
    <ul>
      <li><%= performance.venue.name %></li>
      <li><%= performance.date.strftime("%A, %B %e, %Y") %></li>
    </ul>
    <% if logged_in? %>
      <p><%= link_to "Review this Performance", new_performance_review_path(performance) %></p>
    <% end %>
<% end %>
</ul>


<h2>Upcoming Performances:</h2>
<ul>
<% @upcoming_performances.each do |performance| %>
    <li><a href="<%= user_performance_path(performance.user, performance) %>"><%= performance.title %></a></li>
    <ul>
      <li><%= performance.venue.name %></li>
      <li><%= performance.date.strftime("%A, %B %e, %Y") %></li>
    </ul>
<% end %>
</ul>