<h2>Reviews</h2>

<% @performance.reviews.each do |review| %>
  <p>
    <em><%= review.title %></em><br/> 
    By: <%= review.user.first_name %>
    <%= review.user.last_name %><br/>
    <%= @performance.pretty_date %>
  </p>
  <p>Rating: <%= review.rating %>/5</p>
  <p><%= review.review_text %></p>

<% end %>