<h1><%= @company.name %>'s Performances</h1>

<ul>
<% @performances.each do |performance| %>
    <li><a href="<%= company_performance_path(@company, performance) %>"><%= performance.title %></a></li>
    <ul>
      <li><%= performance.venue.name %></li>
      <li><%= performance.date.strftime("%A, %B %e, %Y") %></li>
    </ul>
<% end %>
</ul>