<h1><%= @company.name %>'s Performances</h1>

<ul>
<% @performances.each do |performance| %>
    <li><a href="<%= company_performance_path(@company, performance) %>"><%= performance.title %></a></li>
    <ul>
      <li><%= performance.venue.name %></li>
      <li><%= performance.pretty_date %></li>
    </ul>
<% end %>
</ul>

<%= link_to "Company Profile", company_path(@company) %>