<div class="user-profile-wrapper">

  <div class="user-profile-heading">
    <!-- Call to gravatar_for helper -->
      <%= gravatar_for @user %>
    <div class="user-profile-info">
      <h3>
        <%= @user.first_name %> 
        <%= @user.last_name %>
      </h3>
      <% if current_user == @user %>
        <p>
          <%= @user.email %> 
          <span class="inline-link">
            <%= link_to "(edit)", edit_user_path(@user) %>
          </span>
        </p>
      <% end %>
    </div>
  </div>

  <%= render "admin_companies" %>


  <section class="user-show-reviews">
    
    <% if current_user == @user %>
      <h2>My Reviews</h2>
    <% else %>
      <h2><%= @user.first_name %>'s Reviews</h2>
    <% end %>
    
    <% if @user.reviews.empty? %>
      <span><em>No Reviews Yet</em></span>
    <% end %>

    <ul class="review-set">
      <% @user.reviews.order('created_at DESC').each do |review| %>

      <li class="single-review">
          
        <!-- Company name, Venue, Date -->
        <%= render partial: "/reviews/review_show_info", locals: { review: review } %>

        <!-- Review title, rating, author name -->
        <%= render partial: "/reviews/review_title_rating", locals: { review: review } %>

        <!-- Review text and link -->
        <%= render partial: "/reviews/review_text", locals: { review: review } %>
        
        <!-- Link to edit review if the current user owns the review -->
        <% if current_user == review.user %>
          <span class="edit-review-link">
            <%= link_to "Edit Review", edit_performance_review_path(review.performance, review) %>
          </span>
        <% end %>

        <!-- Review vote buttons -->
        <%= render partial: "/reviews/review_vote_buttons", locals: { review: review } %>

      </li>

      <% end %>
    </ul>
  </section>
</div>