<div class="user-profile-wrapper">
  
  <% if flash[:notice] %>
    <div class="errors error">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="user-profile-heading">
    <!-- Call to gravatar_for helper -->
      <%= gravatar_for @user %>
    <div class="user-profile-info">
      <h3>
        <%= @user.first_name %> 
        <%= @user.last_name %>
      </h3>
      <% if current_user == @user %>
        <p>
          <%= @user.email %> 
          <span class="inline-link">
            <%= link_to "(edit)", edit_user_path(@user) %>
          </span>
        </p>
      <% end %>
    </div>
  </div>

  <%= render "admin_companies" %>


  <div class="user-profile-reviews">
    
    <% if current_user == @user %>
      <h2>My Reviews</h2>
    <% else %>
      <h2><%= @user.first_name %>'s Reviews</h2>
    <% end %>
    
    <% if @user.reviews.empty? %>
      <span><em>No Reviews Yet</em></span>
    <% end %>

    <% @user.reviews.order('created_at DESC').each do |review| %>

      
      <%# render partial: "review", locals: {review: review} %>
      <div class="user-profile-review">
      
        <article>
          <h3>
            <%= link_to review.performance.run.title, company_run_path(review.performance.run.company, review.performance.run) %>
          </h3>
          <p>
            <%= review.performance.pretty_date %>
            <%# review.performance.run.venue.name %>
          </p>
          <span class="review-rating">
            <% review.rating.times do %>
              <%= image_tag "star_icon_custom.png", size: "12x12", alt: "star" %>
            <% end %>
            <% (5 - review.rating).times do %>
              <%= image_tag "gray_empty_star_icon.png", size: "9x9" %>
            <% end %>
          </span>
          <span class="review-title">
            <em><%= review.title %></em>
          </span>
          <p><%= review.review_text %></p>
        </article>

        <span class="edit-review">
          <%= link_to "Edit Review", edit_performance_review_path(review.performance, review) %>
        </span>

      </div>

    <% end %>

  </div>
</div>