<div class="user-show-wrapper">
  <div class="user-show-heading">
    <!-- Call to gravatar_for helper -->
      <%= gravatar_for @user %>
    <div class="user-show-info">
      <h3>
        <%= @user.first_name %> 
        <%= @user.last_name %>
      </h3>
      <p>
        <%= @user.email %> 
        <span class="user-show-edit">
          (<%= link_to "edit", edit_user_path(@user) if current_user == @user %>)
        </span>
      </p>
    </div>
  </div>

  <%# render "admin_companies" if @user.companies.present? %>

  <%# link_to "Create a Dance Company", new_company_path %>


  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>



  <div class="user-show-reviews">
    
    <h2>My Reviews</h2>

    <% @user.reviews.each do |review| %>

      <%# render partial: "review", locals: {review: review} %>
      <div class="user-show-review">

        <article>
          <h3>
            <%= review.performance.title %>
          </h3>
          <p>
            <%= review.performance.pretty_date %>
            <%# review.performance.run.venue.name %>
          </p>
          <span class="review-rating">
            <% review.rating.times do %>
              <%= image_tag "star_icon.png", size: "12x12", alt: "star" %>
            <% end %>
            <% (5 - review.rating).times do %>
              <%= image_tag "gray_empty_star_icon.png", size: "9x9" %>
            <% end %>
          </span>
          <span class="review-title">
            <em><%= review.title %></em>
          </span>
          <p><%= review.review_text %></p>
        </article>

        <span class="edit-review">
          <%= link_to "Edit Review", edit_performance_review_path(review.performance, review) %>
        </span>

      </div>

    <% end %>

  </div>
</div>