<main id="homepage">
  <section id="home-recent">
    <h2 class="section-recent">Recent</h2>
    <div class="three-shows">
      <% @recent_performances.each do |performance| %>
          <div class="home-show">
            <ul class="home-action-links">
              <li class="home-link"><%= link_to "Read", company_performance_path(performance.company, performance) %></li>
              <li class="home-link"><%= link_to "Write", new_performance_review_path(performance) %></li>
            </ul>
            
            <img class="home-company-photo" src="<%=performance.company.photo_url %>" />

            <a class="home-company-name" href="<%= company_path(performance.company) %>"><%= performance.title %></a>

            <ul class="home-show-info">
              <li class="home-show-info"><%= performance.venue.name %></li>
              <li class="home-show-info"><%= performance.pretty_date %></li>
            </ul>
          </div>
      <% end %>
    </div>
  </section>


  <section id="home-upcoming">
    <h2 class="section-upcoming">Upcoming</h2>
    <div class="3-shows">
      <% @upcoming_performances.each do |performance| %>
          <div class="home-show">
            <div class="home-company-photo">
            </div>

            <a class="home-company-name" href="<%= company_path(performance.company) %>"><%= performance.title %></a>

            <ul class="home-show-info">
              <li class="home-show-info"><%= performance.venue.name %></li>
              <li class="home-show-info"><%= performance.pretty_date %></li>
            </ul>
          </div>
      <% end %>
    </div>
  </section>

  <div id="clear-float">
  </div>
</main>

