<main class="page-wrapper">
  
  <section class="videos-wrapper">
    
    <h2 class="section-title">
      Explore Videos
    </h2>

    <ul class="video-set">
      
      <li>
        <div class="single-video">
          <iframe width="150" height="84" src="http://www.youtube.com/embed/8oOi-AH00Z4" frameborder="0" allowfullscreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Emma Desjardins
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Chelsea Lynn-Acree
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>
    </ul>

  </section>

  <section class="reviews-wrapper">
    
    <h2 class="section-title">
      Recent Reviews
    </h2>
    
    <ul class="review-set">
      
      <% @reviews.each do |review| %>
        <li class="single-review">
          
          <!-- Company name, Venue, Date -->
          <%= render partial: "/reviews/review_show_info", locals: { review: review } %>

          <!-- Review title, rating -->
          <%= render partial: "/reviews/review_title_rating", locals: { review: review } %>

          <!-- Review author name -->
          <%= render partial: "/reviews/review_author", locals: { review: review } %>

          <!-- Review text and link -->
          <%= render partial: "/reviews/review_text", locals: { review: review } %>

        </li>
      <% end %>

    </ul>

  </section>

  <section class="sidebar-wrapper">
    
    <h3 class="section-title">
      Companies
    </h3>

    <ul class="company-set">
      <% @companies.each do |company| %>
        <li>
          <%= link_to company.name, company_path(company) %>
        </li>
      <% end %>
    </ul>
  </section>


  <!-- <section class="home-mission">
    <h2>
      DanceShare exists to help the modern dance community articulate the value of our art.
    </h2>
    <h2>Write your opinion.</h2>
    <h2>Share your voice.</h2>

  </section>

  <section class="companies">
    <h2>Companies:</h2>
    <%# @companies.each do |company| %>
      <%# link_to company.name, company_path(company), html: {class: "company-link"} %> | 
    <%# end %>
  </section>


  <section class="home-recent">
    <h2>
      Recent Performances:
    </h2>
    <%# render partial: "home_performances", locals: {runs: @recent_runs } %>
  </section>


  <section class="home-upcoming">
    <h2>
      Upcoming Performances:
    </h2>
    <%# render partial: "home_performances", locals: {runs: @upcoming_runs } %>
  </section> -->

  <div id="clear-float">
  </div>

</main>





<!-- Script for showing video titles on hover -->
<script type="text/javascript">
  Home.intervalID, Home.fullTitle, Home.mouseX, Home.mouseY;

  $(".video-title").mouseenter(handlerIn).mouseleave(handlerOut);

  function handlerIn(e) {
    Home.fullTitle = $(e.target).siblings(".full-title");
    Home.mouseX = e.pageX;
    Home.mouseY = e.pageY;
    Home.intervalID = setTimeout(showTitle, 1500);
  }   

  function showTitle() {
    Home.fullTitle.show();
    Home.fullTitle.css({
      top: (Home.mouseY + 5) + "px",
      left: (Home.mouseX) + "px"
    });
  }

  function handlerOut(e) {
    clearInterval(Home.intervalID);
    $(e.target).siblings(".full-title")
               .css("display", "hidden");
  }

</script>
