<main class="page-wrapper">
  <section class="videos-wrapper">
    <h2>Explore Videos</h2>
    <ul class="home-video-set">
      
      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Emma Desjardins
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Chelsea Lynn-Acree
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>

      <li>
        <div class="single-video">
          <iframe src="http://player.vimeo.com/video/58339951" width="150" height="84" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          <span class="full-title"><%= @title %></span>
          <h5 class="video-title">
            <%= truncate(@title, length: 40) %>
          </h5>
          <h6 class="video-author">
            by Francisco Graciano
          </h6>
        </div>
      </li>
    </ul>
  </section>

  <section class="reviews-wrapper">
    <h2>Recent Reviews</h2>
    <ul class="home-review-set">
      
      <% @reviews.each do |review| %>
        <li class="home-review">
          <span class="home-review-company">
            <%= link_to review.performance.run.company.name, company_path(review.performance.run.company) %>
            <span class="home-review-venue">
              <%= review.performance.run.venue.name %>,  
              <%= review.performance.pretty_date %>
            </span>
          </span>

          <div class="home-review-info">
            <em><%= review.title %></em>
            <span class="home-review-rating">
              <% review.rating.times do %>
                <%= image_tag "star_icon_custom.png", size: "12x12", alt: "star" %>
              <% end %>
              <% (5 - review.rating).times do %>
                <%= image_tag "gray_empty_star_icon.png", size: "9x9" %>
              <% end %>
            </span>

            <span class="home-author">
              By 
              <%= link_to "#{review.user.first_name} #{review.user.last_name}", user_path(review.user) %>
            </span>
          </div>

          <span class="review-text">
            <%= truncate(review.review_text, length:300) %>
          </span>
        </li>
      <% end %>

    </ul>
  </section>

  <section class="sidebar-wrapper">
    <h3>Companies</h3>
      <ul>
        <% @companies.each do |company| %>
          <li>
            <%= link_to company.name, company_path(company) %>
          </li>
        <% end %>
      </ul>
  </section>

    <!-- <a href="#">
      <h1 class="videos">
        Explore Videos
      </h1>
    </a>
    
    <a href="#">
      <h1 class="reviews">
        Write a Review
      </h1>
    </a> -->

    

  <!-- <section class="home-mission">
    <h2>
      DanceShare exists to help the modern dance community articulate the value of our art.
    </h2>
    <h2>Write your opinion.</h2>
    <h2>Share your voice.</h2>

  </section>

  <section class="companies">
    <h2>Companies:</h2>
    <%# @companies.each do |company| %>
      <%# link_to company.name, company_path(company), html: {class: "company-link"} %> | 
    <%# end %>
  </section>


  <section class="home-recent">
    <h2>
      Recent Performances:
    </h2>
    <%# render partial: "home_performances", locals: {runs: @recent_runs } %>
  </section>


  <section class="home-upcoming">
    <h2>
      Upcoming Performances:
    </h2>
    <%# render partial: "home_performances", locals: {runs: @upcoming_runs } %>
  </section> -->

  <div id="clear-float">
  </div>

</main>

<script type="text/javascript">
  Home.intervalID, Home.fullTitle, Home.mouseX, Home.mouseY;

  $(".video-title").mouseenter(handlerIn).mouseleave(handlerOut);

  function handlerIn(e) {
    Home.fullTitle = $(e.target).siblings(".full-title");
    Home.mouseX = e.pageX;
    Home.mouseY = e.pageY;
    Home.intervalID = setTimeout(showTitle, 1500);
  }   

  function showTitle() {
    Home.fullTitle.show();
    Home.fullTitle.css({
      top: (Home.mouseY + 5) + "px",
      left: (Home.mouseX) + "px"
    });
  }

  function handlerOut(e) {
    clearInterval(Home.intervalID);
    $(e.target).siblings(".full-title")
               .css("display", "hidden");
  }

</script>
