<form action="/companies/<%= @company.id %>/venues" method="POST" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="search_query" value="<%= @venues.first[:search_query] %>" />
  

  <% @venues.each do |venue| %>
    
    <label>
      <input type="radio" name="venue_name" value="<%= venue[:name] %>" />
      <img src="<%=venue[:image_url]%>" />
      <br/><%= venue[:name] %><br/>
      <% venue[:display_address].split("\n").each do |line| %>
        <%= line %><br/>
      <% end %>
      <br/>
    </label>  

  <% end %>

  <label>
    <input type="radio" name="dummy" />
    None
  </label><br/><br/>

  <button>Submit</button>
</form>


