<main class="single-form">
  
  <h2 class="form-title">
    Add a Run of Performances:
  </h2>

  <h3 class="form-subtitle">
    Find Your Venue:
  </h3>

  <%= form_for [@company, @venue], :html => {:class => "wide-thirty"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.submit %>
  <% end %>

</main>