<h1>Reviews by <%= @user.first_name %> <%= @user.last_name %></h1>

<% @user.reviews.each do |review| %>

  <h3><%= review.performance.title %></h3>
  <p>Performed 
    <%= review.performance.pretty_date %>, 
    <%= review.performance.venue.name %>
  </p>
  <p><em><%= review.title %></em></p>
  <p>Rating: <%= review.rating %>/5</p>
  <p><%= review.review_text %></p>
  <br/>

<% end %>