<h2><%= @company.name %> Profile</h2>

<img src="<%= @company.photo_url %> " />

<br/>

<%= link_to "Runs", company_runs_path(@company) %>
<br/>

<%= link_to "Add a Run of Performances", new_company_run_path(@company) %>

<br/>

<% if current_user == @company.admin %>
  <%= link_to "Edit Profile", edit_company_path(@company) %>
<% end %>