<div class="company-profile-heading">
  <h1><%= @company.name %></h1>
  <span class="company-profile-edit">
    <%= link_to "edit", edit_company_path(@company) if current_user == @company.admin %>
  </span>
</div>

<div class="show-company-photo">
  <img src="<%= @company.photo_url %>" />
</div>

<section class="runs">
  <h2>Runs</h2>
  
  <% if current_user == @company.admin %>
    <span class="add-run">
      <%= link_to "Add a Run", new_company_run_path(@company) %>
    </span>
  <% end %>

  <% @company.runs.each do |run| %>
    <div class="indiv-run">
      <h3><%= link_to run.title, company_run_path(@company, run) %></h3>
      <span><%= render partial: "shared/run_date_span", locals: { run: run } %></span>
    </div>
  <% end %>

  

  <% @company.runs.each do |run| %>
    
  <% end %>

</section>