<main class="new-run">
  <h2>Add a Run of Performances:</h2>

    <%= form_tag new_run_path, method: 'get' do %>
      <h3>
        Search for or select your Venue:
      </h3>
      <%= text_field_tag :search, params[:search] %>
      <%= hidden_field_tag "company_id", "#{@company.id}" %>

      <%= submit_tag "Search Venues", name: nil %>
    <% end %>

  <%= form_for [@company, @run] do |f| %>
    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %>
    <br/>

    

    <h3><%= f.label "Select Venue:" %></h3>

<!-- Venue name, image, address -->
    <div class="venue-list">
      <% @venues.each do |venue| %>  
        <div class="single-venue">
          <label>
            <%= venue.name %>
            <input type="radio" id="radio_venue" name="venue_id" value=<%=venue.id%> />
          </label>

          <%= image_tag venue.image_url %>
          
          <% venue.display_address.split("\n").each do |line| %>
            <span>
              <%= line %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= f.submit "Create Run" %>
  <% end %>


  <h2>
    <strong>Don't see your venue? Please search:</strong>
  </h2>

  <%= form_tag("/venues/new", method: "get") do %>
    <%= text_field_tag "venue_name", nil, placeholder: "Venue Name" %>
    <%= hidden_field_tag "company_id", @company.id %>

    <%= submit_tag "Search for Venue" %>
  <% end %>
</div>

    