<h1>Add a Run of Performances:</h1>
<form action="/companies/<%= @company.id %>/runs" method="POST" />
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <label for="title">Title:</label>
  <input type="text" name="title" />

  <h2>Please select your venue:</h2>

  <% @venues.each do |venue| %>
    <label>
      <input type="radio" name="selected_venue" value=<%= venue.id %> />
      <img src="<%=venue.image_url%>" />
      <br/><%= venue.name %><br/>
      <% venue.display_address.split("\n").each do |line| %>
        <%= line %><br/>
      <% end %>
      <br/>
    </label>  
  <% end %>


  <%# form_for @company, url: new_company_venue_path(@company), method: :get do |f| %>
    
    <%# f.text_field :venue_name, :placeholder => "Venue Name" %>
    
    <%# f.submit "Search for Venue" %>
  <%# end %>


  <button>Create Performance Run</button>
</form>

<h2>
  <strong>Don't see your venue? Please search:</strong>
</h2>

<%= form_tag("/venues/new", method: "get") do %>
  <%= text_field_tag "venue_name", nil, placeholder: "Venue Name" %>
  <%= hidden_field_tag "company_id", @company.id %>

  <%= submit_tag "Search for Venue" %>
<% end %>




  