<main class="show-run">
  <div class="run-show-info">
    
    <h1>
      <%= link_to "#{@run.company.name}", company_path(@run.company) %>
    </h1>

    <h2>
      <%= @run.title %>
    </h2>

    <!-- Venue Information -->
    <div class="run-venue-info">
    
      <img class="venue-picture" src="<%= @run.venue.image_url%>" />
      
      <h3 class="venue-name">
        <%= @run.venue.name %>
      </h3>
      
      <div class="venue-address">
        <% @run.venue.display_address.split("\n").each do |address_line| %>
          
          <span class="venue-address-line">
            <%= address_line %>
          </span>

        <% end %>
      </div>

    </div>

    <!-- Dates and times of the performances -->
    <ul>
      <% @run.performances.order(:date).order(:time).each do |performance| %>
        <li class="run-perf-date">
          <%= performance.pretty_date %>, 
          <%= performance.pretty_time %>
          <% if performance.date <= Time.now %>
             | <%= link_to "Write a Review!", new_performance_review_path(performance) %>
          <% end %>
        </li>
        
      <% end %>
    </ul>

    <!-- Add Performance button -->
    <% if current_user == @company.admin %>
      <div class="add-performance">

        <button>Add Performance</button>
        <%= form_for [@run, Performance.new], url: "/runs/#{@run.id}/performances", html: {class: "new-performance hidden"} do |f| %>
          <%= f.label :date %>
          <%= f.date_field :date %>

          <%= f.label :time %>
          <%= f.time_field :time %>

          <%= f.submit "Add Performance" %>
        <% end %>
      </div>
    <% end %>

  </div>


  
  <div class="performance-reviews">
    <% @run.performances.order('date').each do |performance| %>
      <% if performance.reviews.present? %>
        <h3 class="performance-review-heading">
          Reviews for <%= performance.pretty_date %>:
        </h3>
        
        <ul class="review-set">
          <% performance.reviews.each do |review| %>
            <li class="single-review">
    
              <!-- Review title, rating -->
              <%= render partial: "/reviews/review_title_rating", locals: { review: review } %>

              <!-- Review author name -->
              <%= render partial: "/reviews/review_author", locals: { review: review } %>

              <!-- Review text and link -->
              <%= render partial: "/reviews/review_text", locals: { review: review } %>

              <!-- Review vote buttons -->
              <%= render partial: "/reviews/review_voting", locals: { review: review } %>

            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

</main>


<%= javascript_include_tag "runs" %>