<main>
  <h1><%= @run.company.name %></h1>

  <h2><%= @run.title %></h2>

  <p><%= @run.venue.name %></p>

  <% if @run.performances.empty? %>
    <%= form_for [@run, Performance.new], url: "/runs/#{@run.id}/performances" do |f| %>
      <%= f.label :date %>
      <%= f.date_field :date %>

      <%= f.label :time %>
      <%= f.time_field :time %>

      <%= f.submit "Save Run" %>
    <% end %>
  <% else %>
    <%= link_to "Add a Performance", "runs/#{@run.id}/performances/new" %>
  <% end %>

</main>