<main>
  <h1><%= @run.company.name %></h1>

  <h2><%= @run.title %></h2>
  <img src="<%= @run.venue.image_url%>" /><br/>
  <span><%= @run.venue.name %></span><br/>
  <% @run.venue.display_address.split("\n").each do |line| %>
    <span><%= line %></span><br/>
  <% end %>

  <ul>
    <% @run.performances.order(:date).order(:time).each do |performance| %>
      <li>
        <%= performance.pretty_date %>, 
        <%= performance.pretty_time %> | <%= link_to "Write a Review!", new_performance_review_path(performance) %>
      </li><br/>
    <% end %>
  </ul>
  <br/>

    <%= form_for [@run, Performance.new], url: "/runs/#{@run.id}/performances" do |f| %>
      <%= f.label :date %>
      <%= f.date_field :date %>

      <%= f.label :time %>
      <%= f.time_field :time %>

      <%= f.submit "Add Performance" %>
    <% end %>
  
  <% @run.performances.each do |performance| %>
    <strong>
      Reviews of <%= performance.pretty_date %> performance:
    </strong>
    <% performance.reviews.each do |review| %>
      <%= render partial: "performance_review", locals: {review: @review} %>
    <% end %>
  <% end %>


</main>