<main class="show-run">
  <div class="run-show-info">
    <h1>
      <%= link_to "#{@run.company.name}", company_path(@run.company) %>
    </h1>

    <h2>
      <%= @run.title %>
    </h2>

    <img src="<%= @run.venue.image_url%>" />
    <br/>
    
    <span class="venue-name"><%= @run.venue.name %></span>
    <br/>
    
    <% @run.venue.display_address.split("\n").each do |line| %>
      <span><%= line %></span>
      <br/>
    <% end %>

    <ul>
      <% @run.performances.order(:date).order(:time).each do |performance| %>
        <li>
          <%= performance.pretty_date %>, 
          <%= performance.pretty_time %>
          <% if performance.date <= Time.now %>
             | <%= link_to "Write a Review!", new_performance_review_path(performance) %>
          <% end %>
        </li>
        <br/>
      <% end %>
    </ul>
    <% if current_user == @company.admin %>
      <div class="add-performance">
        <button>Add Performance</button>
        <%= form_for [@run, Performance.new], url: "/runs/#{@run.id}/performances", html: {class: "new-performance hidden"} do |f| %>
          <%= f.label :date %>
          <%= f.date_field :date %>

          <%= f.label :time %>
          <%= f.time_field :time %>

          <%= f.submit "Add Performance" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <br/>

  
  <div class="performance-reviews">
    <% @run.performances.order('date').each do |performance| %>
      <% if performance.reviews.present? %>
        <h3 class="performance-review-heading">
          Reviews for <%= performance.pretty_date %>:
        </h3>

        <% performance.reviews.each do |review| %>
          <div class="perf-review">
            <%= render partial: "performance_review", locals: {review: review} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

</main>