<!-- NOT USED???? -->

<h3><%= review.performance.title %></a></h3>
<p>Performed 
  <%= review.performance.pretty_date %>, 
  <%= review.performance.run.venue.name %>
</p>
<p><em><%= review.title %></em></p>
<p>Rating: <%= review.rating %>/5</p>
<p><%= review.review_text %></p>
