<h3 class="form-subtitle">
    <%= performance.run.company.name %>
</h3>

<h4 class="form-subtitle">
    <%= performance.date.strftime("%A, %B %e, %Y") %>, <%= performance.time.strftime("%l:%M %p") %>
</h4>

<%= form_for [performance, review], html: { class: "wide-fifty" } do |f| %>

    <%= f.text_field :title, { placeholder: "Title" } %>

    <%= f.text_area :review_text, { cols: 100, rows: 20, placeholder: "Your review here..." } %>

    <%= f.label :rating %>
        
    <div class="review-radio">
        <%= f.label "1" %>
        <%= f.radio_button(:rating, "1") %>

        <%= f.label "2" %>
        <%= f.radio_button(:rating, "2") %>

        <%= f.label "3" %>
        <%= f.radio_button(:rating, "3") %>

        <%= f.label "4" %>
        <%= f.radio_button(:rating, "4") %>

        <%= f.label "5" %>
        <%= f.radio_button(:rating, "5") %>
    </div>

    <%= f.submit %>
<% end %>
