<h1>Reviews by <%= @user.first_name %> <%= @user.last_name %></h1>

<% @user.reviews.each do |review| %>

  <%= render partial: "review", locals: {review: review} %>
  <%= link_to "Read Review", "/users/#{@user.id}/reviews/#{review.id}" %><br/>
  <%= link_to "Edit Review", edit_performance_review_path(review.performance, review) %>
  <br/><br/>

<% end %>
