<div class="single-review-wrapper">

  <div class="single-review">

    <!-- Company name, Venue, Date -->
    <%= render partial: "/reviews/review_show_info", locals: { review: @review } %>

    <!-- Review title, rating -->
    <%= render partial: "/reviews/review_title_rating", locals: { review: @review } %>

    <!-- Review author name -->
    <%= render partial: "/reviews/review_author", locals: { review: @review } %>

    <!-- Review text -->
    <span class="review-text">
      <%= @review.review_text %>
    </span>


  </div>


<%= link_to "View all Reviews", 
    company_run_path(@company, @review.performance.run) %>

</div>


<div class="footer-fill"></div>