<h2>Reviews</h2>

<% @performance.reviews.each do |review| %>
  <p>
    <em><%= review.title %></em><br/> 
    By: <%= review.user.first_name %> 
    <%= review.user.last_name %> 
    <% if current_user == review.user %>
      <%= link_to "Edit this review", edit_performance_review_path(@performance, review) %>
    <% end %>
    <br/>
    <%= @performance.pretty_date %>
  </p>
  <p>Rating: <%= review.rating %>/5</p>
  <p><%= review.review_text %></p>

<% end %>