<h1>Add a Performance:</h1>

<%= form_for [@run, Performance.new], url: "/runs/#{@run.id}/performances" do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :time %>
    <%= f.time_field :time %>

    <%= f.submit "Save Run" %>
  <% end %>