<!DOCTYPE html>
<html>
<head>
  <title>Dance Share</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper" >
    <header>
      <div id="header-title">
        <h1><%= link_to "Dance Share", root_path %></h1>
      </div>

      <div id="header-search">
        <input type="text" size="50" placeholder="Search by Company, Dancer, or Piece"/>
        <button>Search</button>
      </div>

      <nav>
        <ul>
          <% if logged_in? %>
            <li><%= link_to "#{current_user.first_name}'s Profile", user_path(current_user) %></li>
            <li><%= link_to "Log Out", "/session", method: "delete" %></li>  
          <% else %>
            <li><%= link_to "Sign Up!", new_user_path %></li>
            <li><%= link_to "Log In","/login" %></li>
          <% end %>
        </ul>
      </nav>

    </header>

    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      &copy Dance Share 2014
    </footer>
  
  </div>
</body>
</html>
